:root {
    --box-shadow-color: #27272755;
    --soft-border-color: #00000066;
    --menu-transition-duration: 0.5s;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

/* MENU */

#menu {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 20px;
    margin-left: 20px;
}


#menu #menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 12px;
    border-radius: 100%;
    box-shadow: 0 0 20px var(--box-shadow-color);
    transition: all var(--menu-transition-duration) linear;
    cursor: pointer;
}

#menu #menu-list {
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 30px var(--box-shadow-color);
    transition: all var(--menu-transition-duration) linear;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu .menu-item:not(:last-child) {
    margin-bottom: 20px;
}

#menu .checkbox-filter {
    padding: 7px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

/* Menu animation classes */

.toggled {
    transform: rotate(0.5turn);
}

.hidden {
    transform: translate(-50%);
    opacity: 0;
}

.actually-hidden {
    display: none;
}

/* SPREADSHEET */

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Spreadsheet form */

form input {
    border-radius: 5px;
}

form input[type="text"] {
    width: 500px;
    padding: 10px;
    border: 2px solid var(--soft-border-color);
}

form input[type="submit"] {
    color: white;
    border: none;
    padding: 12px 17px;
    background-color: #0f9d58;
    cursor: pointer;
}

/* Spreadsheet table */

#tabla {
    border-collapse: collapse;
    box-shadow: 0 0 20px var(--box-shadow-color);
}

#tabla th,
#tabla td {
    padding: 10px;
    border: 2px solid var(--soft-border-color);
}